.header-content {
    background-color: rgb(151 29 37) !important;
}

/* Keyframes for fade-in animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Default hidden state */
#block__content,
#professional,
#beauty_and_care,
#nourish_description,
#shop_now {
    opacity: 0;
}

/* Animation triggers */
#block__content {
    animation: fadeInUp 3s ease-out forwards;
    width: 50%;
}

#professional {
    animation: fadeInLeft 3s ease-out 0.3s forwards;
    /* Delayed by 0.3s */
}

#beauty_and_care {
    animation: fadeInUp 3s ease-out 0.6s forwards;
    /* Delayed by 0.6s */
    font-size: xx-large;
}

#nourish_description {
    animation: fadeInRight 3s ease-out 0.9s forwards;
    /* Delayed by 0.9s */
}

#shop_now {
    animation: zoomIn 3s ease-out 1.2s forwards;
    /* Delayed by 1.2s */
}

.top-categories {
	padding-top: 84px;
}

.top-categories__text {
	max-width: 456px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 56px;
	padding-left: 10px;
}

.top-categories__text p {
	margin-top: 30px;
}

.top-categories__items {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-left: -15px;
	margin-right: -15px;
}

.top-categories__item {
	width: -webkit-calc(33.3% - 30px);
	width: calc(33.3% - 30px);
	margin: 0 15px;
	position: relative;
	height: 700px;
    animation-delay: 0.3s;
}

.top-categories__item img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.top-categories__item-hover {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: rgba(34, 34, 34, 0.3);
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	text-align: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	opacity: 0;
}

.top-categories__item-hover span {
	display: block;
	font-size: 14px;
	line-height: 170%;
	text-transform: uppercase;
	color: #fff;
}

.top-categories__item-hover i {
	font-size: 50px;
	margin-top: -15px;
}

.top-categories__item-hover h5 {
	position: relative;
	margin-bottom: 51px;
	z-index: 1;
	margin-top: 44px;
}

.top-categories__item-hover h5:after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 166px;
	height: 66px;
	background-image: url(../img/top-categories-decor.png);
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	z-index: -1;
}

.top-categories__item:hover .top-categories__item-hover {
	opacity: 1;
}

.top-categories__item:nth-child(2) {
    animation-delay: 0.6s;
    /* Delay for the second item */
}

.top-categories__item:nth-child(3) {
    animation-delay: 0.9s;
    /* Delay for the third item */
}

.image-carousel {
    width: 40%;
    /* Allocate space for carousel */
    position: relative;
    height: 500px;
    margin: 0;
    /* Reset margins for cleaner alignment */

}

.carousel-images {
    position: relative;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.info-blocks {
	padding-top: 30px;
}

.info-blocks__item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;
	background-repeat: no-repeat;
	background-position: right bottom;
	background-color: #faf9ff;
}

.info-blocks__item .wrapper {
	position: initial;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	width: 100%;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.info-blocks__item-reverse {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-webkit-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	background-position: left bottom;
	background-color: #fcedea;
}

.info-blocks__item-reverse .info-blocks__item-text {
	padding: 237px 10px 223px 0;
}

.info-blocks__item-reverse .info-blocks__item-img {
	left: auto;
	right: 0;
}

.info-blocks__item-reverse .wrapper {
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.info-blocks__item-img {
	width: 50%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.info-blocks__item-img img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.info-blocks__item-img-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(34, 34, 34, 0.3);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	z-index: 10;
}

.info-blocks__item-img-overlay span {
	font-size: 40px;
	line-height: 140%;
	font-family: "Tenor Sans";
	display: block;
	color: #fff;
	margin-bottom: 45px;
	text-transform: capitalize;
	margin-top: -101px;
}

.info-blocks__item-img-play {
	cursor: pointer;
	width: 150px;
	height: 150px;
	position: relative;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.info-blocks__item-img-play:after {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: -webkit-calc(100% + 25px);
	width: calc(100% + 25px);
	height: -webkit-calc(100% + 25px);
	height: calc(100% + 25px);
	border: 3px solid #ffffff;
	-webkit-filter: blur(5px);
	filter: blur(5px);
	content: "";
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.info-blocks__item-img-play:hover {
	opacity: 0.8;
}

.info-blocks__item-text {
	width: 50%;
	padding: 186px 116px;
	padding-right: 0;
}

.info-blocks__item-text h2,
.info-blocks__item-text p {
	max-width: 456px;
}

.info-blocks__item-text p {
	display: block;
	font-size: 16px;
	line-height: 170%;
	color: #666666;
	margin-top: 24px;
}

.info-blocks__item-text .btn {
	margin-top: 60px;
}

.info-blocks__item-descr {
	font-size: 20px;
	line-height: 150%;
	color: #666666;
	display: block;
	max-width: 456px;
	font-family: "Tenor Sans";
	margin-top: 31px;
}

.info-blocks__item-link {
	font-weight: bold;
	font-size: 14px;
	line-height: 100%;
	text-transform: uppercase;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: #222222;
	margin-top: 35px;
}

.info-blocks__item-link:hover {
	opacity: 0.8;
}

.info-blocks__item-link .icon-video {
	font-size: 24px;
	margin-right: 20px;
}

.info-blocks__item-link .icon-arrow-lg {
	font-size: 51px;
	margin-left: 19px;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.info-blocks__item-link .icon-arrow-lg:before {
	color: #222222;
}

.info-blocks__item-link:hover .icon-arrow-lg {
	margin-left: 25px;
}

.info-blocks__item iframe {
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}


/* Header Content */
.main-block__content {
    flex: 1 1 400px;
    /* Allow content to shrink or grow and set a minimum width */
    padding-right: 20px;
}

/* Image Carousel */
.image-carousel {
    flex: 1 1 400px;
    /* Allow carousel to shrink or grow and set a minimum width */
    position: relative;
    height: 500px;
    /* Match the height of images */
    margin: 0;
}

.carousel-images img {
    border: 8px solid white;
    position: absolute;
    background-color: #971d25;
    width: 90%;
    height: 100%;
    object-fit: contain;
    border-radius: 100px;
    /* border-radius: 50% 50% 0 0; */
    opacity: 0;
    transition: opacity 1s ease-in-out;
    box-shadow: 0px 3px 17px rgba(0, 0, 0, 1.2);
    /* Adds a subtle shadow effect */
}

.carousel-images img.active {
    opacity: 1;
}

/* Responsive Adjustments */

@media screen and (max-width: 1200px) {
	.top-categories__item {
		height: 500px;
	}

	.info-blocks__item-img-overlay span {
		margin-top: 0;
	}

	.info-blocks__item-text {
		padding: 186px 40px;
	}
}

@media (max-width: 991px) {

	.top-categories {
		padding-top: 110px;
	}

	.top-categories__items {
		margin-left: -10px;
		margin-right: -10px;
	}

	.top-categories__item {
		width: -webkit-calc(33.3% - 20px);
		width: calc(33.3% - 20px);
		margin: 0 10px;
		height: 355px;
	}

	.info-blocks__item-text,
	.info-blocks__item-reverse .info-blocks__item-text {
		padding: 50px 0 40px;
		width: 100%;
	}

	.info-blocks__item-img {
		position: relative;
		width: 100%;
	}

	.info-blocks__item .wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		padding-top: 40px;
	}

	.info-blocks__item {
		background-image: none !important;
	}

	.info-blocks__item-text h2,
	.info-blocks__item-text p {
		max-width: 100%;
	}

	.info-blocks {
		padding-top: 40px;
	}
}

@media (max-width: 768px) {
    #hero-section {
        gap: 45px;
    }

    #block__content {
        width: 100%;
        margin-top: 39px;
    }

    .image-carousel {
        height: 300px;
    }

	.all-categories {
		padding-top: 60px;
		padding-bottom: 0;
		margin-bottom: 0px;
	}

	.all-categories .top-categories__item {
		margin-bottom: 20px;
	}

	.top-categories {
		padding-top: 60px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.top-categories__text {
		padding-left: 0;
		margin-bottom: 20px;
	}

	.top-categories__item {
		width: -webkit-calc(50% - 20px);
		width: calc(50% - 20px);
	}

	.info-blocks__item-img {
		height: 335px;
	}

	.info-blocks__item-descr,
	.info-blocks__item-text p {
		margin-top: 15px;
	}

	.info-blocks__item-text .btn {
		margin-top: 30px;
	}

	.info-blocks__item-img-overlay span {
		font-size: 28px;
	}

	.info-blocks__item-img-play {
		width: 85px;
		height: 85px;
	}

	.info-blocks__item-img {
		height: 370px;
	}

	.info-blocks__item-img-overlay span {
		margin-bottom: 20px;
	}
}

/* Hero Section Flex Container */
#hero-section {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    /* Enable wrapping for child elements */
    align-items: center;
    /* Center items vertically */
    justify-content: space-between;
    /* Maintain space between items */
    gap: 20px;
    max-width: 1600px;
    /* Add gap between items */
}

@media (max-width: 468px) {
    .image-carousel {
        max-width: 443px;
        /* Make both sections take full width */
    }

	.top-categories__items {
		margin-left: 0;
		margin-right: 0;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.top-categories__item {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 15px;
		width: 100%;
		height: 345px;
	}

	.top-categories__item:last-of-type {
		margin-bottom: 0;
	}

	.all-categories .top-categories__item {
		margin-bottom: 15px;
	}
}

.trending,
.info-blocks__item-reverse .wrapper
{
    direction: ltr;
}

.products-item__img img{
    object-fit: contain;
}