@import "bootstrap/dist/css/bootstrap.min.css";

/* Your custom styles */
body {
    font-family: 'Figtree', sans-serif;
    background-color: #f8f9fa;
    color: #212529;
}

/* Custom selection styles */
::selection {
    background-color: #FF2D20;
    color: #fff;
}